/.vscode
/checkpoints
/coherentmotion.py
/dataset_gt.pickle
/dataset_gt_transf_avenue.pickle
/evaluation_group.py
/evaluation_new.py
/evaluation_w_coherent_filter.py
/extract_cf.py
/model_scores_transf_avenue.pickle
/scenes_division.pickle
/test.py
/visualization.py
/visualization_original.py
/evaluation.py  
/wandb
/lightning_logs
/train_STSAE.py
/stc_train_eval.py
/__pycache__
*.pyc
/power_spherical
*.cpython
*.pyc
/visualization
*.pdf
*.svg
*.tar
*.npy
artifacts/
*.gif
diffusion_AS/
/utils/viz_utils.py
/scripts
/utils/pose_dataset.py
/utils/pose_dataset_mp.py
/models/gepc
*.ipynb
/tbad
